.navbar {
    height: 70px;
    background: dodgerblue;
    padding: 0 5%;
    display: flex;
    align-items: center;
    gap: 50px;
}
.navbar h2 {
    flex: 1;
    color: #fff;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}